![ecommerce_analytics-1224x532](ecommerce_analytics-1224x532.jpg)

As a Data Engineer at an electronics e-commerce company, Voltmart, you have been requested by a peer Machine Learning team to clean the data containing the information about orders made last year. They are planning to further use this cleaned data to build a demand forecasting model. To achieve this, they have shared their requirements regarding the desired output table format.

An analyst shared a parquet file called `"orders_data.parquet"` for you to clean and preprocess. 

You can see the dataset schema below along with the **cleaning requirements**:

## `orders_data.parquet`

| column | data type | description | cleaning requirements | 
|--------|-----------|-------------|-----------------------|
| `order_date` | `timestamp` | Date and time when the order was made | _Modify: Remove orders placed between 12am and 5am (inclusive); convert from timestamp to date_ |
| `time_of_day` | `string` | Period of the day when the order was made | _New column containing (lower bound inclusive, upper bound exclusive): "morning" for orders placed 5-12am, "afternoon" for orders placed 12-6pm, and "evening" for 6-12pm_ |
| `order_id` | `long` | Order ID | _N/A_ |
| `product` | `string` | Name of a product ordered | _Remove rows containing "TV" as the company has stopped selling this product; ensure all values are lowercase_ |
| `product_ean` | `double` | Product ID | _N/A_ |
| `category` | `string` | Broader category of a product | _Ensure all values are lowercase_ |
| `purchase_address` | `string` | Address line where the order was made ("House Street, City, State Zipcode") | _N/A_ |
| `purchase_state` | `string` | US State of the purchase address | _New column containing: the State that the purchase was ordered from_ |
| `quantity_ordered` | `long` | Number of product units ordered | _N/A_ |
| `price_each` | `double` | Price of a product unit | _N/A_ |
| `cost_price` | `double` | Cost of production per product unit | _N/A_ |
| `turnover` | `double` | Total amount paid for a product (quantity x price) | _N/A_ |
| `margin` | `double` | Profit made by selling a product (turnover - cost) | _N/A_ |

<br>

In [5]:
from pyspark.sql import (
    SparkSession,
    types,
    functions as F,
)

spark = (
    SparkSession
    .builder
    .appName('cleaning_orders_dataset_with_pyspark')
    .getOrCreate()
)

In [6]:
orders_data = spark.read.parquet('orders_data.parquet')
orders_data.toPandas().head()

           order_date  order_id  ... turnover    margin
0 2023-01-22 21:25:00    141234  ...   700.00  469.0000
1 2023-01-28 14:15:00    141235  ...    14.95    7.4750
2 2023-01-17 13:33:00    141236  ...    23.98   11.9900
3 2023-01-05 20:33:00    141237  ...   149.99   52.4965
4 2023-01-25 11:59:00    141238  ...    11.99    5.9950

[5 rows x 11 columns]

In [7]:
# Start here, using as many cells as you require
orders_data

DataFrame[order_date: timestamp, order_id: bigint, product: string, product_id: double, category: string, purchase_address: string, quantity_ordered: bigint, price_each: double, cost_price: double, turnover: double, margin: double]

## First requirement

Cleaning the order_date column, which already have the timestamp format.  
Modify: Remove orders placed between 12am and 5am (inclusive); convert from timestamp to date

In [8]:
orders_data = spark.read.parquet('orders_data.parquet')
#orders_data = orders_data \
#    .withColumn("date",F.date_format('order_date','yyyy-MM-dd')) \
#    .withColumn("time",F.date_format('order_date','HH:mm:ss')) 
orders_data = orders_data.filter(~(F.hour("order_date").between(0,5)))
#orders_data = orders_data.drop("order_date")
#orders_data = orders_data.withColumnRenamed("date","order_date")
orders_data = orders_data.withColumn("order_date",F.to_date(F.col("order_date")))
orders_data.toPandas().head()

   order_date  order_id  ... turnover    margin
0  2023-01-22    141234  ...   700.00  469.0000
1  2023-01-28    141235  ...    14.95    7.4750
2  2023-01-17    141236  ...    23.98   11.9900
3  2023-01-05    141237  ...   149.99   52.4965
4  2023-01-25    141238  ...    11.99    5.9950

[5 rows x 11 columns]

## Second requirement

New column called time_of_date containing (lower bound inclusive, upper bound exclusive): "morning" for orders placed 5-12am, "afternoon" for orders placed 12-6pm, and "evening" for 6-12pm

In [9]:
orders_data = orders_data.withColumn("time_of_day",
    F.when((F.hour('order_date') >= 5) & (F.hour('order_date') < 12), 'morning')
     .when((F.hour('order_date') >= 12) & (F.hour('order_date') < 18), 'afternoon')
     .when((F.hour('order_date') >= 18) & (F.hour('order_date') <= 23), 'evening')
     .otherwise('night'))
orders_data.toPandas().head()

   order_date  order_id  ...    margin  time_of_day
0  2023-01-22    141234  ...  469.0000        night
1  2023-01-28    141235  ...    7.4750        night
2  2023-01-17    141236  ...   11.9900        night
3  2023-01-05    141237  ...   52.4965        night
4  2023-01-25    141238  ...    5.9950        night

[5 rows x 12 columns]

## Third requirement

Remove with the column product rows containing "TV" as the company has stopped selling this product; ensure all values are lowercase

In [10]:
orders_data = orders_data.filter(~(F.lower("product")).like('tv'))
display(orders_data)

DataFrame[order_date: date, order_id: bigint, product: string, product_id: double, category: string, purchase_address: string, quantity_ordered: bigint, price_each: double, cost_price: double, turnover: double, margin: double, time_of_day: string]

## Fourth requirement

category	string	Broader category of a product	Ensure all values are lowercase

In [11]:
orders_data = orders_data.withColumn("category",F.lower("category"))
orders_data.toPandas().head()

   order_date  order_id  ...    margin  time_of_day
0  2023-01-22    141234  ...  469.0000        night
1  2023-01-28    141235  ...    7.4750        night
2  2023-01-17    141236  ...   11.9900        night
3  2023-01-05    141237  ...   52.4965        night
4  2023-01-25    141238  ...    5.9950        night

[5 rows x 12 columns]

## Fifth requirement

purchase_state	string	US State of the purchase address	New column containing: the State that the purchase was ordered from

In [12]:
orders_data = orders_data.withColumn("purchase_state",F.split("purchase_address",",").getItem(2))
orders_data = orders_data.withColumn("purchase_state",F.split("purchase_state"," ").getItem(1))
orders_data.toPandas().head()

   order_date  order_id  ... time_of_day  purchase_state
0  2023-01-22    141234  ...       night              MA
1  2023-01-28    141235  ...       night              OR
2  2023-01-17    141236  ...       night              CA
3  2023-01-05    141237  ...       night              CA
4  2023-01-25    141238  ...       night              TX

[5 rows x 13 columns]

In [13]:
orders_data.toPandas().head()

   order_date  order_id  ... time_of_day  purchase_state
0  2023-01-22    141234  ...       night              MA
1  2023-01-28    141235  ...       night              OR
2  2023-01-17    141236  ...       night              CA
3  2023-01-05    141237  ...       night              CA
4  2023-01-25    141238  ...       night              TX

[5 rows x 13 columns]

## Exporting to parquet

In [14]:
orders_data.write.mode("overwrite").parquet("orders_data_clean.parquet")